/*
    У Grand Hotel вес (font-weight)
    только 1 — 400;
    У Montserrat два веса:
    Regular            400
    Bold               700
 */

* {
     margin: 0;
     padding: 0;
     /*scroll-behavior: smooth;*/
 }

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    width: 100%; /*????*/
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, footer { /*Ася возможно тебе придется добавить еще head*/
    width: 1440px;
    background-color: #222831;
}

.wave {
    position: relative;
    margin-bottom: -5px;
}

/*section_8*/

.branches {
    padding: 0 0 50px 0;
}

.branches_title {
    font-family: 'Grand Hotel', sans-serif;
    font-weight: 400;
    font-size: 85px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.section_branches_workers_flexbox {
    display: flex;
    justify-content: space-around;
}

.section_branches_workers_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branches_location_text {
    text-align: center;
    position: relative;
    width: 250px;
    background-color: #29a19c;
    border-radius: 15px 15px 15px 20px;

    margin: 35px 0 30px 0;
    padding: 10px 0;

    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.branches_location_text::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 4px;
        width: 15px;
        height: 43px;
        background-color: #29a19c;
        border-radius: 70%;
        transform: rotate(-20deg);
}

.section_branches_workers_text {
    width: 350px;
    font-size: 16px;
    line-height: 27px;
    padding: 0 30px 0 35px; /*top-right-bottom-left*/
    text-align: center;
}

/*end of section_8*/

/*section_9*/

.information .above_footer {
    background-color: #29a19c;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 70px 70px;
}

.above_footer_logo {
    height: 65px;
    margin-top: -15px;
}

.above_footer_labels {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    margin-right: -20px;
}

.above_footer_label {
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 125px;
}

.above_footer h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 60px 0;
}

.above_footer_navigation {
    display: flex;
    flex-direction: column;
}

.above_footer_label a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
}

/*end of section_9*/

/*footer */

.footer_main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #29a19c;
    padding-bottom: 40px;
}

.footer nav {
    padding-left: 5px;
}

.footer a {
    padding-left: 58px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.footer_links {
    display: flex;
    width: 20%;
    margin-right: 30px;
}

.footer_links i {
    margin: 0 13px 0 30px;
    font-size: 20px;
}

.footer_line {
    height: 12px;
}

/* end of footer*/








