/*
    У Grand Hotel вес (font-weight)
    только 1 — 400;
    У Montserrat два веса:
    Regular            400
    Bold               700
 */

* {
     margin: 0;
     padding: 0;
     margin-block-end: 0;
     margin-block-start: 0;
     box-sizing: border-box;
 }

body {
    display: flex;
    justify-content: center;
    background-color: #222831;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
}

main {
    width: 1440px;

}

.wave {
    position: relative;
    margin-bottom: 10px;
}

/*section_8*/

.branches {
    padding: 0 0 50px 0;
}

.branches_title {
    font-family: 'Grand Hotel', sans-serif;
    font-weight: 400;
    font-size: 85px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.section_branches_workers_flexbox {
    display: flex;
    justify-content: space-around;
}

.section_branches_workers_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branches_location_text {
    text-align: center;
    position: relative;
    width: 250px;
    background-color: #29a19c;
    border-radius: 15px 15px 15px 20px;

    margin: 35px 0 30px 0;
    padding: 12px 0;

    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.branches_location_text::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 4px;
        width: 15px;
        height: 43px;
        background-color: #29a19c;
        border-radius: 70%;
        transform: rotate(-20deg);
}

.section_branches_workers_text {
    width: 340px;
    font-size: 16px;
    line-height: 27px;
    padding: 0 30px 0 35px; /*top-right-bottom-left*/
    text-align: center;
}

/*end of section_8*/

