/*
    У Grand Hotel вес (font-weight)
    только 1 — 400;
    У Montserrat два веса:
    Regular            400
    Bold               700
 */

* {
     margin: 0;
     padding: 0;
     /*scroll-behavior: smooth;*/
 }

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, footer { /*Ася возможно тебе придется добавить еще head*/
    width: 1440px;
    background-color: #222831;
}

.wave {
    position: relative;
    margin-bottom: -5px;
}

/*section_8*/

.branches {
    margin: 0 0 50px 0;
    position: relative;
}

.object_container_1 {
    margin-top: -17px;
    position: absolute;
    opacity: 0.25;
    display: flex;
    width: 1440px;
    justify-content: space-between;
    height: 117px;
}

.object_1 {
    display: flex;
    width: 26%;
    align-items: flex-start;
    justify-content: flex-end;
}

.object_2 {
    display: flex;
    width: 74%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
}

.object_container_2 {
    position: absolute;
    opacity: 0.25;
    display: flex;
    width: 1440px;
    justify-content: space-between;
    height: 10px;
    bottom: 20px;
}

.object_3 {
    display: flex;
    width: 36%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -25px;
}

.object_4 {
    display: flex;
    width: 64%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.branches_title {
    font-family: 'Grand Hotel', sans-serif;
    font-weight: 400;
    font-size: 85px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.section_branches_workers_flexbox {
    display: flex;
    justify-content: space-around;
}

.section_branches_workers_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branches_location_text {
    text-align: center;
    position: relative;
    width: 250px;
    background-color: #29a19c;
    border-radius: 15px 15px 15px 20px;
    margin: 35px 0 30px 0;
    padding: 10px 0;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}

.branches_location_text::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 4px;
    width: 15px;
    height: 43px;
    background-color: #29a19c;
    border-radius: 70%;
    transform: rotate(-20deg);
}

.section_branches_workers_text {
    width: 350px;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

/*end of section_8*/

/*section_9*/

.information .above_footer {
    background-color: #29a19c;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.above_footer_logo {
    margin-top: 15px;
    margin-left: 70px;
}

.above_footer_logo img {
    height: 65px;
}

.above_footer_labels {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    margin: 10px 70px 0 0;
    width: 50%;
}

.above_footer_label {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 25px; /* top-right-bottom-left*/
}

.above_footer h1 {
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 60px 0;
}

.above_footer_navigation {
    display: flex;
    flex-direction: column;
}

.above_footer_label a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
}

/*end of section_9*/

/*footer */

.footer_main {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #29a19c;
    padding-bottom: 40px;
}

.footer nav {
    margin-left: 6px;
}

.footer a {
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: font-size 0.5s ease, text-shadow 0.5s;
}

.footer a:hover {
    color: #222831;
    text-shadow: 4px 4px 4px #333;
    font-size: 30px;
    transition: color 0.5s, text-shadow 0.5s, font-size 0.5s ease;
}

.footer_links {
    display: flex;
    justify-content: flex-start;

    width: 26%;
}

.footer_links i {
    margin: 0 13px 0 30px;
    font-size: 20px;
}

.footer_line {
    height: 12px;
}

/* end of footer*/